{{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn btn-primary" style="float:left;margin-left:5px; margin-top:10px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
